* {
    box-sizing:border-box;
}

.container {
    position:relative;
    margin:auto;
    max-width:1000px
}

.slide {
    display:none;
}

.previous, .next {
    position:absolute;
    top:50%;
    width:auto;
    cursor:pointer;
    padding:20px;
}

.next {right:0}
